<div class="full__page__form__wrapper">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item medium--three-quarters medium--push-one-eighth large-up--one-half large-up--push-one-quarter">
        <div class="full__page__form">
          <h2 class="h2 text-center">What kind of wines do you like?</h2>
          <div id="contactForm">
            {% form 'customer' %}
              <div class="email">
                <label for="email">Email</label>
                <input type="email" name="contact[email]" />
              </div>
              <div class="request-type">
                <label for="request-type">What is this regarding?</label>
                <select
                  id="request-type"
                  name="contact[tags]"
                  value="Mostly Reds">
                  <option>Returns</option>
                  <option>Shipping</option>
                  <option>Custom order</option>
                  <option>Other</option>
                </select>
              </div>

              <div class="contact-time">
                <label for="contact-time">When is the best time to reach you?</label>
                <input
                  type="checkbox"
                  name="contact[contact_time_1]"
                  value="morning"><label for="morning">Morning</label><br>
                <input
                  type="checkbox"
                  name="contact[contact_time_2]"
                  value="afternoon"><label for="afternoon">Afternoon</label><br>
                <input
                  type="checkbox"
                  name="contact[contact_time_3]"
                  value="evening"><label for="evening">Evening</label>
              </div>

              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter, newsletterfooter">
              <div class="submit">
                <input type="submit" value="Sign up" />
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>