<!--
<div class="full__page__form__wrapper">-->
<div class="wrapper">
  <div class="grid">
    <div class="grid__item one-whole text-center mobile--one-whole">
      <div class="full__page__form">
        <h2 class="text-center">Palate Profile</h2>

        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
          <!-- Step 1 -->
          <li class="form-stepper-active text-center form-stepper-list" step="1">
            <a class="mx-2">
              <span class="form-stepper-circle">
                <span>1</span>
              </span>
             
            </a>
          </li>
          <!-- Step 2 -->
          <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>2</span>
              </span>
             
            </a>
          </li>
          <!-- Step 3 -->
          <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>3</span>
              </span>
              
            </a>
          </li>
          <!-- Step 4 -->
          <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>4</span>
              </span>
              
            </a>
          </li>
          <!-- Step 5 -->
          <li class="form-stepper-unfinished text-center form-stepper-list" step="5">
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>5</span>
              </span>
              
            </a>
          </li>
          <!-- Step  6-->
          <li class="form-stepper-unfinished text-center form-stepper-list" step="6">
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>6</span>
              </span>
             
            </a>
          </li>
        </ul>

        <!----------Begin Form------------->

        <div id="multi-step-form-container">
          <div id="contact_form">
            {% form 'customer' %}
              {%- if form.posted_successfully? -%}
                <style>
                  body {
                    display: none !important!
                  }
                </style>
                <script>
                  window.location.replace(" /pages/how-it-works");
                </script>
                
              {%- endif -%}

              {{ form.errors | default_errors }}

              {% comment %}
              Wine Value
              {% endcomment %}
              <div class="form-step" id="step-1">
                <div class="wine">
                  <h2>Do you prefer red or white wine?</h2>
                  <p>
                    <span><img
                        width="30"
                        height="auto"
                        id="winc-quote-img"
                        src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/winc_quote.png?v=1695328694" /></span>
                    This lets us know how many bottles of red and white to send you.
                  </p>
                  <label for="wine-value-select">
                    <img id="wine-value-img" class="two-thirds" />
                 
                  </label>
                  <select class="align--middle-center" id="wine-value-select">
                    <option value="">--Please choose an option--</option>
                    <option value="all_reds">All Reds</option>
                    <option value="all_whites">All Whites</option>
                    <option value="mostly_reds">Mostly Reds</option>
                    <option value="mostly_whites">Mostly Whites</option>
                    <option value="mix_red_white">A Mix of Reds & Whites</option>
                  </select>
                  <p class="d-none" id="wine-result"></p>
                </div>
                <button
                  class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                  type="button"
                  step_number="2">Next Question</button>
              </div>
              {% comment %}
              Flavors
              {% endcomment %}
              <div class="form-step d-none" id="step-2">
                <div class="flavors">
                  <h2>What kinds of flavors do you like?</h2>
                  <p>
                    <span><img
                        width="30"
                        height="auto"
                        id="winc-quote-img"
                        src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/winc_quote.png?v=1695328694" /></span>
                    We'll try to recommend wines with similar flavor profiles.  Select the heart button if you enjoy.</p>

                  <fieldset id="flavors-wrapper">

                    <div class="slider">
                     
                      <div class="slides">
                        <div class="flavor-select" id="slide-1">
                          <img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/strawberry_2x_9b2f08ab-b22d-4720-966b-0d0917bd9ace.png?v=1695049729" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Strawberry"
                            name="flavors"
                            value="Strawberry" />
                          <h4>Strawberry</h4>
                          <div class="label">
                            <label for="Strawberry">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' />

                            </label>
                          </div>
                         
                        </div>
                        <div class="flavor-select" id="slide-2">
                          <img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/raspberry_2x_429d79d1-3e6a-45d2-804c-2f5021de2233.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Raspberry"
                            name="flavors"
                            value="Raspberry" />
                          <h4>Raspberry</h4>
                          <div class="label">
                            <label for="Raspberry">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-3">
                          <img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/lime_2x_ed783605-bfc5-482b-8394-f6282e808b6a.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Lime-Zest"
                            name="flavors"
                            value="Lime Zest" />
                          <h4>Lime Zest</h4>
                          <div class="label">
                            <label for="Lime-Zest">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-4"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/blackberry_2x_bebf975b-9878-436e-bded-bf6a2c8d40d9.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Blackberry"
                            name="flavors"
                            value="Blackberry" />
                          <h4>Blackberry</h4>
                          <div class="label">
                            <label for="Blackberry">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-5"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/melon_2x_d9b40c5c-34a9-46fb-bb8f-95d24c8c9256.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Melon"
                            name="flavors"
                            value="Melon" />
                          <h4>
                            Melon
                          </h4>
                          <div class="label">
                            <label for="Melon">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-6"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/pineapple_2x_ff6e5d2a-c799-4236-b7b5-0c4d52e1e491.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Pineapple"
                            name="flavors"
                            value="Pineapple" />
                          <h4>Pineapple</h4>
                          <div class="label">
                            <label for="Pineapple">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-7"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mushroom_2x_44832024-2cfd-477c-95d2-531f785f7ae5.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Mushroom"
                            name="flavors"
                            value="Mushroom" />
                          <h4>Mushroom</h4>
                          <div class="label">
                            <label for="Mushroom">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-8"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/green_apple_2x_7c6f0306-8a1b-430e-8511-14d2d007cacf.png?v=1695049727" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Green-Apple"
                            name="flavors"
                            value="Green Apple" />
                          <h4>Green Apple</h4>
                          <div class="label">
                            <label for="Green-Apple">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' /></label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-9"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/honey_2x_6470eb5e-f21c-4135-ad14-2298456795c5.png?v=1695049728" />
                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="Honey"
                            name="flavors"
                            value="Honey" />
                          <h4>Honey</h4>
                          <div class="label">
                            <label for="Honey">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' />
                            </label>
                          </div>
                        </div>
                        <div class="flavor-select" id="slide-10"><img
                            width="150"
                            height="auto"
                            src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/white_peach_2x_a09a25e9-7e95-4bc8-940a-74b8a6939325.png?v=1695049783/">

                          <input
                            class="flavors-input"
                            type="checkbox"
                            id="White-Peach"
                            name="flavors"
                            value="White Peach" />
                          <h4>White Peach</h4>
                          <div class="label">
                            <label for="White-Peach">
                              <img
                                width="50"
                                height="auto"
                                class="heart"
                                id="heart-btn"
                                src='https://cdn.shopify.com/s/files/1/0822/8513/4115/files/heart_button_copy.png?v=1695237829' />
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                </div>
                <div class="mt-3">
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    step_number="1">Previous Question</button>
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    onclick="selectAllFlavors()"
                    step_number="3">Next Question</button>
                </div>
              </div>
              {% comment %}
              Candies
              {% endcomment %}
              <div id="step-3" class="form-step d-none">
                <div class="candies">
                  <h2>Some lunatic mixed Skittles and M&Ms in the same bowl.  Which do you choose?</h2>
                  <p>
                    <span><img
                        width="30"
                        height="auto"
                        id="winc-quote-img"
                        src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/winc_quote.png?v=1695328694" /></span>
                    This lets us know if you prefer sweet or tart flavors, and also, if you're a little crazy.</p>
                  <!--
                  <label for="candies-value">Some lunatic mixed Skittles and M&M's in the same bowl.  Which do you choose?
                  </label>-->
                  <img
                    width="300"
                    height="auto"
                    id="sweetness-value-img"
                    class="two-thirds"
                    src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/candies_sweetness_value.png?v=1695063908" />
                  <select id="candies-value-select" class="align--middle-center">
                    <option value="">--Please choose an option--</option>
                    <option value="all_skittles">All Skittles</option>
                    <option value="all_mms">All M&Ms</option>
                    <option value="both_candies">Both. In my mouth.  At the same time.
                    </option>
                  </select>
                  <p class="d-none" id="candies-result"></p>
                </div>
                <div class="mt-3">

                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    step_number="2">Previous Question</button>

                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    step_number="4">Next Question</button>
                </div>
              </div>

              <!--------Regions----------->
              {% comment %}
              Regions
              {% endcomment %}
              <div class="form-step d-none" id="step-4">
                <div class="regions">
                  <h2>What regions are you interested in trying wines from?</h2>
                  <p>
                    <span><img
                        width="30"
                        height="auto"
                        id="winc-quote-img"
                        src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/winc_quote.png?v=1695328694" /></span>
                    We make wines from over 12 different countries, so we'll try to pair you with regions you enjoy.</p>
                  <fieldset id="regions-wrapper">


                    <div class="region-select one-quarter">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="United States"
                        name="region"
                        value="United States" />
                      <label for="United States">{% render 'icon-us' %}</label>
                      <h6>United States</h6>
                    </div>


                    <div class="region-select one-quarter">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="Austria"
                        name="region"
                        value="Austria" />
                      <label for="Austria">
                        <span class="icon icon_austria">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </span>
                      </label>
                      <h6>Austria</h6>
                    </div>

                    <div class="region-select one-quarter ">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="France"
                        name="region"
                        value="France" />
                      <label for="France">
                        <span class="icon icon_france">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                        </span>
                      </label>
                      <h6>France</h6>
                    </div>

                    <div class="region-select one-quarter ">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="Portugal"
                        name="region"
                        value="Portugal" />
                      <label for="Portugal">
                        <span class="icon icon_portugal">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </span>
                      </label>
                      <h6>Portugal</h6>
                    </div>

                    <div class="region-select one-quarter ">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="Chile"
                        name="region"
                        value="Chile" />
                      <label for="Chile">
                        <span class="icon icon_chile">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </span>
                      </label>
                      <h6>Chile</h6>
                    </div>

                    <div class="region-select one-quarter ">

                      <input
                        class="d-none region-input"
                        type="checkbox"
                        id="Argentina"
                        name="region"
                        value="Argentina" />
                      <label for="Argentina">
                        <span class="icon icon_argentina">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </span>
                      </label>
                      <h6>Argentina</h6>
                    </div>

                    <p id="regions-result" class="hidden"></p>
                  </fieldset>
                </div>
                <div class="mt-3">
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    step_number="3">Previous Question</button>
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    onclick="selectAllRegions()"
                    step_number="5">Next Question</button>
                </div>
              </div>


              {% comment %}
              Food
              {% endcomment %}
              <div class="form-step d-none" id="step-5">
                <div class="foods">
                  <h2>Like food? Tell us your favorites.</h2>
                  <p>
                    <span><img
                        width="30"
                        height="auto"
                        id="winc-quote-img"
                        src="https://cdn.shopify.com/s/files/1/0822/8513/4115/files/winc_quote.png?v=1695328694" /></span>
                    For our foodie friends - this helps us recommend wines that pair well with your favorite eats.</p>

                  <fieldset id="food-wrapper">

                    <div class="food-select one-eighth popout">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Cheese"
                        name="food"
                        value="Cheese" />
                      <label for="Cheese">
                        <span class="icon icon_cheeses ">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Fries"
                        name="food"
                        value="Fries" />
                      <label for="Fries">
                        <span class="icon icon_fries">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Pizza"
                        name="food"
                        value="Pizza" />
                      <label for="Pizza">
                        <span class="icon icon_pizza">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Fish"
                        name="food"
                        value="Fish" />
                      <label for="Fish">
                        <span class="icon icon_fish">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="BBQ"
                        name="food"
                        value="BBQ" />
                      <label for="BBQ">
                        <span class="icon icon_bbq">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Sushi"
                        name="food"
                        value="Sushi" />
                      <label for="Sushi">
                        <span class="icon icon_sushi">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Cured-Meats"
                        name="food"
                        value="Cured Meats" />
                      <label for="Cured-Meats">
                        <span class="icon icon_cured_meats">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Thai"
                        name="food"
                        value="Thai" />
                      <label for="Thai">
                        <span class="icon icon_thai">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Salad"
                        name="food"
                        value="Salad" />
                      <label for="Salad">
                        <span class="icon icon_salad">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Veggies"
                        name="food"
                        value="Veggies" />
                      <label for="Veggies">
                        <span class="icon icon_veggies">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Pasta & Cream Sauce"
                        name="food"
                        value="Pasta & Cream Sauce" />
                      <label for="Pasta & Cream Sauce">
                        <span class="icon icon_pasta_with_cream_sauce">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                          <span class="path17"></span>
                          <span class="path18"></span>
                          <span class="path19"></span>
                          <span class="path20"></span>
                          <span class="path21"></span>
                          <span class="path22"></span>
                          <span class="path23"></span>
                          <span class="path24"></span>
                          <span class="path25"></span>
                          <span class="path26"></span>
                          <span class="path27"></span>
                          <span class="path28"></span>
                          <span class="path29"></span>
                          <span class="path30"></span>
                          <span class="path31"></span>
                          <span class="path32"></span>
                          <span class="path33"></span>
                          <span class="path34"></span>
                          <span class="path35"></span>
                          <span class="path36"></span>
                          <span class="path37"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Burgers"
                        name="food"
                        value="Burgers" />
                      <label for="Burgers">
                        <span class="icon icon_burgers">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                          <span class="path17"></span>
                          <span class="path18"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Lamb"
                        name="food"
                        value="Lamb" />
                      <label for="Lamb">
                        <span class="icon icon_lamb">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                        </span>
                      </label>
                    </div>

                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Shellfish"
                        name="food"
                        value="Shellfish" />
                      <label for="Shellfish">
                        <span class="icon icon_shellfish">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                        </span>
                      </label>

                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Chili"
                        name="food"
                        value="Chili" />
                      <label for="Chili">
                        <span class="icon icon_chili">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                          <span class="path17"></span>
                          <span class="path18"></span>
                          <span class="path19"></span>
                          <span class="path20"></span>
                          <span class="path21"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">

                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Chinese"
                        name="food"
                        value="Chinese" />
                      <label for="Chinese">
                        <span class="icon icon_chinese">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                          <span class="path17"></span>
                          <span class="path18"></span>
                          <span class="path19"></span>
                          <span class="path20"></span>
                          <span class="path21"></span>
                          <span class="path22"></span>
                          <span class="path23"></span>
                          <span class="path24"></span>
                          <span class="path15"></span>
                          <span class="path26"></span>
                          <span class="path27"></span>
                          <span class="path28"></span>
                          <span class="path29"></span>
                        </span>
                      </label>

                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Chocolate Cake"
                        name="food"
                        value="Chocolate Cake" />
                      <label for="Chocolate Cake">
                        <span class="icon icon_chocolate_cake">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                          <span class="path16"></span>
                          <span class="path17"></span>
                          <span class="path18"></span>
                        </span>
                      </label>
                    </div>
                    <div class="food-select one-eighth mobile--one-quarter ">


                      <input
                        class="d-none food-input"
                        type="checkbox"
                        id="Poultry"
                        name="food"
                        value="Poultry" />
                      <label for="Poultry">
                        <span class="icon icon_poultry">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                          <span class="path9"></span>
                          <span class="path10"></span>
                          <span class="path11"></span>
                          <span class="path12"></span>
                          <span class="path13"></span>
                          <span class="path14"></span>
                          <span class="path15"></span>
                        </span>
                      </label>
                    </div>
                    <p id="food-result" class="hidden"></p>
                  </fieldset>
                </div>
                <div class="mt-3">
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    step_number="4">Previous Question</button>
                  <button
                    class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                    type="button"
                    onclick="selectAllFoods()"
                    step_number="6">Next Question</button>
                </div>
              </div>

              {% comment %}
              customer enter email
              {% endcomment %}

              <div class="form-step d-none" id="step-6">
                <div id="email-wrapper two-thirds">
                  <h2>Ready to see your box?</h2>
                  <p>Enter your email below.</p>
                  <div class="email">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      name="contact[email]"
                      placeholder="Email*" />
                  </div>

                  {% comment %}
                  Hidden input for customer tag access
                  {% endcomment %}
                  <input
                  id="form_tags"
                    type="hidden"
                    name="contact[tags]">

                  {% comment %}
                  Submit
                  {% endcomment %}
                  <div class="submit">
                    <input
                      class="button btn-navigate-form-step btn align--bottom-right btn--form custom-form__button"
                      type="submit"
                      value="I'm Ready" />
                  </div>
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--full page form wrapper
</div>--><script>
  /**
 * Define a function to navigate betweens form steps.
 * It accepts one parameter. That is - step number.
 */
  const navigateToFormStep = (stepNumber) => {

/**
   * Hide all form steps.
   */
    document.querySelectorAll(".form-step").forEach((formStepElement) => {
      formStepElement.classList.add("d-none");
    });

/**
   * Mark all form steps as unfinished.
   */
    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
      formStepHeader.classList.add("form-stepper-unfinished");
      formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });

/**
   * Show the current form step (as passed to the function).
   */
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");

/**
   * Select the form step circle (progress bar).
   */
    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');

/**
   * Mark the current form step as active.
   */
    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");

/**
   * Loop through each form step circles.
   * This loop will continue up to the current step number.
   * Example: If the current step is 3,
   * then the loop will perform operations for step 1 and 2.
   */
    for (let index = 0; index < stepNumber; index++) {

/**
       * Select the form step circle (progress bar).
       */
      const formStepCircle = document.querySelector('li[step="' + index + '"]');

/**
       * Check if the element exist. If yes, then proceed.
       */
      if (formStepCircle) {

/**
           * Mark the form step as completed.
           */
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
        formStepCircle.classList.add("form-stepper-completed");
      }
    }
  };

/**
* Select all form navigation buttons, and loop through them.
*/
  document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {

/**
   * Add a click event listener to the button.
   */
    formNavigationBtn.addEventListener("click", () => {

/**
       * Get the value of the step.
       */
      const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));

/**
       * Call the function to navigate to the target form step.
       */
      navigateToFormStep(stepNumber);
    });
  });

// get wine value selection and populate hidden paragraph element
  let selectWineValue = document.querySelector('#wine-value-select');
  let wineResult = document.querySelector('#wine-result');

// images for switch based on selection
  var select_wine_img = document.querySelector('#wine-value-img');
  select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mix_red_white.png?v=1695232333';
  selectWineValue.addEventListener('change', function() {
    if (selectWineValue.value == "mostly_reds") {
      select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mostly_red.png?v=1695232333';
    } else if (selectWineValue.value == "all_reds") {
      select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/all_red.png?v=1695232333';
    } else if (selectWineValue.value == "all_whites") {
      select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/all_white.png?v=1695232333';
    } else if (selectWineValue.value == "mostly_whites") {
      select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mostly_white.png?v=1695232333';
    } else if (selectWineValue.value == "mix_red_white") {
      select_wine_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mix_red_white.png?v=1695232333';
    }
    wineResult.textContent = this.value;
  });

// get candies value selection and populate hidden paragraph element
  let selectCandiesValue = document.querySelector('#candies-value-select');
  let candiesResult = document.querySelector('#candies-result');
  var select_candies_img = document.querySelector('#sweetness-value-img');
  select_candies_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mix_candies.png?v=1695236068';
  selectCandiesValue.addEventListener('change', function() {
    if (selectCandiesValue.value == "all_skittles") {
      select_candies_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/all_skittles.png?v=1695236068';
    } else if (selectCandiesValue.value == "all_mms") {
      select_candies_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/all_mms.png?v=1695236068';
    } else if (selectCandiesValue.value == "both_candies") {
      select_candies_img.src = 'https://cdn.shopify.com/s/files/1/0822/8513/4115/files/mix_candies.png?v=1695236068';
    }
    candiesResult.textContent = this.value;
  });



  function selectAllRegions() {
    const regionsContainer = document.querySelector('#regions-wrapper');

// selecting all checkboxes
// of group language
    let checkboxes = regionsContainer.querySelectorAll("input[type='checkbox']:checked");
    var values = [];

// looping through all checkboxes
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true;
      values.push(checkboxes[i].value);
    }
    console.log(values);
    regions = values;
    return regions;
  };


  function selectAllFoods() {

// select checkboxes in the food wrapper
    const foodContainer = document.querySelector('#food-wrapper');

    let checkboxes = foodContainer.querySelectorAll("input[type='checkbox']:checked");
    var values = [];

// looping through all checkboxes
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true;
      values.push(checkboxes[i].value);
    }
    console.log(values);
    foods = values;
    return foods;
  };

// Darken image on heart btn click
// const darkenImage = document.querySelector('#overlay');

// function changeColor() {
// darkenImage.classList.add("flavor-image-overlay");
// }

  function selectAllFlavors() {

// select checkboxes in the food wrapper
    const flavorsContainer = document.querySelector('#flavors-wrapper');

    let checkboxes = flavorsContainer.querySelectorAll("input[type='checkbox']:checked");
    var values = [];

// looping through all checkboxes
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true;
      values.push(checkboxes[i].value);
    }
    console.log(values);
    flavors = values;
    return flavors;
  };

  document.querySelector("form#contact_form").addEventListener("submit", function(e) {
    const wineValue = document.getElementById("wine-result").textContent;
    const candiesValue = document.getElementById("candies-result").textContent;

// const Regions = document.getElementById("regions-result").value;
// const foodChoices = document.getElementById("food-result").value;

    document.getElementById('form_tags').value = wineValue + "," + regions + "," + foods + "," + candiesValue + "," + flavors;
  });
</script>

{% schema %}
  {
    "name": "Remix PPQ",
    "target": "section",
    "enabled_on": {
      "templates": ["index", "page"]
    },
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}